.App {
  text-align: center;
  padding-top: 20px;
  background-color: #f4f8fe;
  min-height: 100vh;
}

.app__welcome {
  color: #1177f6;
  text-transform: uppercase;
}
.app__messages {
  padding-bottom: 100px;
  background: #f4f8fe;
}
.app__form {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 50px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.app__input {
  margin-left: 20px;
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
